.line-wrap,
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// yellow theme
.y-theme {
  background:linear-gradient(169deg,#ffe552 0%,#ffc629 100%);
  &:hover{ background: linear-gradient(169deg,#ffea75 0%,#ffd153 100%); }
}

.common-btn{
  display: inline-block;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
  transition: all 250ms;
  white-space: nowrap;
  line-height: 1;
  text-align: center;

  
  &.y-btn{ background-color: #FFC100; }
  &.g-btn{ background-color: #39B167; }
  &.b-btn{ background-color: #347FFF; }
  &.cancel-btn{ background-color:#57575E; }
  &.y-btn:hover{ background: lighten(#FFC100, 10%); }
  &.g-btn:hover{ background: lighten(#39B167, 10%); }
  &.b-btn:hover{ background: lighten(#347FFF, 10%); }
  &.cancel-btn:hover{ background: lighten(#57575E, 10%); }
}

.line-btn {
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  border-radius: 48px;
  &__unactive {
    color: rgba(255, 255, 255, 1);
    background: rgba(36, 38, 43, 1);
    color: #000;

    &:active {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  &__active {
    color: rgba(0, 0, 0, 1);
    background: linear-gradient(
      175deg,
      rgba(255, 226, 1, 1) 0%,
      rgba(255, 193, 0, 1) 100%
    );

    &:active {
      background: #ce9c00;
    }
  }
}

.flex {
  display: flex;
  &.row-h-c {
    justify-content: center;
  }
  &.row-v-c {
    align-items: center;
  }
  &.row-vh-c {
    justify-content: center;
    align-items: center;
  }
  &.row-between {
    justify-content: space-between;
  }
  &.col {
    flex-direction: column;
  }
  &.col-h-c {
    align-items: center;
  }
  &.col-v-c {
    justify-content: center;
  }
  &.col-vh-c {
    justify-content: center;
    align-items: center;
  }
}

.loading-data,
.data-empty {
  margin-top: 50%;
  height: 100vh;
  text-align: center;
  color: #444;
}
